/* This file is for your main application css. */
/* line 2, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
body {
  margin: 0;
  padding: 0; }

/* line 9, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
.main .headline {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #28b6c1;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden; }
  /* line 25, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
  .main .headline .logo {
    float: left;
    padding: 0px 0px 0px 12px; }
  /* line 30, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
  .main .headline .count {
    float: right;
    padding-right: 12px;
    font-size: 13px; }

/* line 37, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
.main .chat {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 0;
  box-sizing: border-box;
  overflow: hidden; }
  /* line 48, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
  .main .chat .chat-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    box-sizing: border-box;
    padding: 15px 15px 0 15px; }
    /* line 59, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
    .main .chat .chat-box .reply {
      position: relative;
      float: left;
      width: 100%; }
      /* line 64, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
      .main .chat .chat-box .reply .username {
        position: relative;
        overflow: hidden;
        float: left;
        width: 70%;
        box-sizing: border-box;
        margin: 0px 30% 6px 0px;
        color: #606677;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 10px;
        padding: 0;
        text-align: left; }
        /* line 79, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
        .main .chat .chat-box .reply .username h1 {
          float: left;
          font-size: 11px;
          font-weight: 400;
          margin: 8px 0px 0px 4px;
          text-transform: capitalize; }
        /* line 87, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
        .main .chat .chat-box .reply .username img {
          float: left; }
      /* line 93, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
      .main .chat .chat-box .reply .the-reply {
        position: relative;
        float: left;
        width: 70%;
        box-sizing: border-box;
        padding: 10px 15px 10px 15px;
        background: #f1f1f1;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        margin: 0 30% 15px 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #606677; }
    /* line 112, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
    .main .chat .chat-box .push-message .username {
      text-align: right;
      margin: 0 0 6px 30%;
      overflow: hidden; }
      /* line 117, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
      .main .chat .chat-box .push-message .username h1 {
        float: right;
        font-size: 11px;
        font-weight: 400;
        margin: 8px 4px 0px 0px; }
      /* line 124, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
      .main .chat .chat-box .push-message .username img {
        float: right; }
    /* line 129, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
    .main .chat .chat-box .push-message .the-reply {
      margin: 0 0 15px 30%;
      background: #94DBEE; }
  /* line 137, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
  .main .chat .chat-input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(ellipse at center, #ffffff 0%, #f1f1f1 100%); }
    /* line 147, /Users/arubinofaux/vault/pogo_chat/web/static/css/app.scss */
    .main .chat .chat-input .chat-thing {
      position: relative;
      width: 100%;
      height: 100%;
      border: none;
      background: transparent;
      outline: none;
      box-sizing: border-box;
      padding: 15px 55px 15px 15px;
      font-size: 12px;
      line-height: 20px;
      color: #606677;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }


/*# sourceMappingURL=app.css.map*/