!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/uploads
/tags
/tmp/*
/.idea
/urbanairship.log
.rvmrc
/_build
/cover
/deps
erl_crash.dump
*.ez

# Static artifacts
/node_modules

*.map

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/css
/priv/static/js
