<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PogoChat!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
  </head>

  <body>
    <div class="main">
      <div class="main-menu" data-ix="main-menu-startup" style="opacity: 1; transition: opacity 400ms;">
        <div class="settings-and-tips-div">
          <a class="setting-and-tips-link w-inline-block" href="#">
            <div class="blue-font">Settings</div><img class="icon" src="images/settings.svg" width="20"></a>
          <a class="setting-and-tips-link w-inline-block" href="#">
            <div class="blue-font">Tips</div><img class="icon" src="images/question-mark.svg" width="15"></a>
        </div>
        <div class="main-menu-items-holder">
          <!-- <a class="pokemon-button w-inline-block" data-ix="pokemon-button-start" href="#" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img src="images/pinata.svg" width="21"></div>
            <div class="blue-font modify">Pokémon</div>
          </a> -->
          <a class="shop-button report-signting w-inline-block" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img src="images/pinata.svg" width="21"></div>
            <div class="blue-font modify">report signting</div>
          </a>
          <a class="pokedex-button w-inline-block" data-ix="pokedex-button-startup" href="https://www.amazon.com/gp/search?ie=UTF8&tag=pogochat-20&linkCode=ur2&linkId=841552e8ca7b5f537c4c791c16a88d5f&camp=1789&creative=9325&index=toys-and-games&keywords=Pokemon" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img class="flip-image" src="images/backpack.svg" width="21"></div>
            <div class="blue-font modify">gear</div>
          </a>
          <!-- <a class="items-button w-inline-block" data-ix="items-button-startup" href="#" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img src="images/backpack.svg" width="21"></div>
            <div class="blue-font modify">gear</div>
          </a> -->
          <a class="close-button w-inline-block" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img src="images/access-denied.svg" width="8"></div>
          </a>
        </div>
      </div>

      <%= render @view_module, @view_template, assigns %>

      <div class="lay-over">
        <div class="content">
          <h1 class="title">report sighting</h1>
          <select class="" name="" style="width: 100%;">
            <option value='bulbasaur'>bulbasaur</option>
            <option value='ivysaur'>ivysaur</option>
            <option value='venusaur'>venusaur</option>
            <option value='charmander'>charmander</option>
            <option value='charmeleon'>charmeleon</option>
            <option value='charizard'>charizard</option>
            <option value='squirtle'>squirtle</option>
            <option value='wartortle'>wartortle</option>
            <option value='blastoise'>blastoise</option>
            <option value='caterpie'>caterpie</option>
            <option value='metapod'>metapod</option>
            <option value='butterfree'>butterfree</option>
            <option value='weedle'>weedle</option>
            <option value='kakuna'>kakuna</option>
            <option value='beedrill'>beedrill</option>
            <option value='pidgey'>pidgey</option>
            <option value='pidgeotto'>pidgeotto</option>
            <option value='pidgeot'>pidgeot</option>
            <option value='rattata'>rattata</option>
            <option value='raticate'>raticate</option>
            <option value='spearow'>spearow</option>
            <option value='fearow'>fearow</option>
            <option value='ekans'>ekans</option>
            <option value='arbok'>arbok</option>
            <option value='pikachu'>pikachu</option>
            <option value='raichu'>raichu</option>
            <option value='sandshrew'>sandshrew</option>
            <option value='sandslash'>sandslash</option>
            <option value='nidoran♀'>nidoran♀</option>
            <option value='nidorina'>nidorina</option>
            <option value='nidoqueen'>nidoqueen</option>
            <option value='nidoran♂'>nidoran♂</option>
            <option value='nidorino'>nidorino</option>
            <option value='nidoking'>nidoking</option>
            <option value='clefairy'>clefairy</option>
            <option value='clefable'>clefable</option>
            <option value='vulpix'>vulpix</option>
            <option value='ninetales'>ninetales</option>
            <option value='jigglypuff'>jigglypuff</option>
            <option value='wigglytuff'>wigglytuff</option>
            <option value='zubat'>zubat</option>
            <option value='golbat'>golbat</option>
            <option value='oddish'>oddish</option>
            <option value='gloom'>gloom</option>
            <option value='vileplume'>vileplume</option>
            <option value='paras'>paras</option>
            <option value='parasect'>parasect</option>
            <option value='venonat'>venonat</option>
            <option value='venomoth'>venomoth</option>
            <option value='diglett'>diglett</option>
            <option value='dugtrio'>dugtrio</option>
            <option value='meowth'>meowth</option>
            <option value='persian'>persian</option>
            <option value='psyduck'>psyduck</option>
            <option value='golduck'>golduck</option>
            <option value='mankey'>mankey</option>
            <option value='primeape'>primeape</option>
            <option value='growlithe'>growlithe</option>
            <option value='arcanine'>arcanine</option>
            <option value='poliwag'>poliwag</option>
            <option value='poliwhirl'>poliwhirl</option>
            <option value='poliwrath'>poliwrath</option>
            <option value='abra'>abra</option>
            <option value='kadabra'>kadabra</option>
            <option value='alakazam'>alakazam</option>
            <option value='machop'>machop</option>
            <option value='machoke'>machoke</option>
            <option value='machamp'>machamp</option>
            <option value='bellsprout'>bellsprout</option>
            <option value='weepinbell'>weepinbell</option>
            <option value='victreebel'>victreebel</option>
            <option value='tentacool'>tentacool</option>
            <option value='tentacruel'>tentacruel</option>
            <option value='geodude'>geodude</option>
            <option value='graveler'>graveler</option>
            <option value='golem'>golem</option>
            <option value='ponyta'>ponyta</option>
            <option value='rapidash'>rapidash</option>
            <option value='slowpoke'>slowpoke</option>
            <option value='slowbro'>slowbro</option>
            <option value='magnemite'>magnemite</option>
            <option value='magneton'>magneton</option>
            <option value='farfetch'd'>farfetch'd</option>
            <option value='doduo'>doduo</option>
            <option value='dodrio'>dodrio</option>
            <option value='seel'>seel</option>
            <option value='dewgong'>dewgong</option>
            <option value='grimer'>grimer</option>
            <option value='muk'>muk</option>
            <option value='shellder'>shellder</option>
            <option value='cloyster'>cloyster</option>
            <option value='gastly'>gastly</option>
            <option value='haunter'>haunter</option>
            <option value='gengar'>gengar</option>
            <option value='onix'>onix</option>
            <option value='drowzee'>drowzee</option>
            <option value='hypno'>hypno</option>
            <option value='krabby'>krabby</option>
            <option value='kingler'>kingler</option>
            <option value='voltorb'>voltorb</option>
            <option value='electrode'>electrode</option>
            <option value='exeggcute'>exeggcute</option>
            <option value='exeggutor'>exeggutor</option>
            <option value='cubone'>cubone</option>
            <option value='marowak'>marowak</option>
            <option value='hitmonlee'>hitmonlee</option>
            <option value='hitmonchan'>hitmonchan</option>
            <option value='lickitung'>lickitung</option>
            <option value='koffing'>koffing</option>
            <option value='weezing'>weezing</option>
            <option value='rhyhorn'>rhyhorn</option>
            <option value='rhydon'>rhydon</option>
            <option value='chansey'>chansey</option>
            <option value='tangela'>tangela</option>
            <option value='kangaskhan'>kangaskhan</option>
            <option value='horsea'>horsea</option>
            <option value='seadra'>seadra</option>
            <option value='goldeen'>goldeen</option>
            <option value='seaking'>seaking</option>
            <option value='staryu'>staryu</option>
            <option value='starmie'>starmie</option>
            <option value='mr. Mime'>mr. Mime</option>
            <option value='scyther'>scyther</option>
            <option value='jynx'>jynx</option>
            <option value='electabuzz'>electabuzz</option>
            <option value='magmar'>magmar</option>
            <option value='pinsir'>pinsir</option>
            <option value='tauros'>tauros</option>
            <option value='magikarp'>magikarp</option>
            <option value='gyarados'>gyarados</option>
            <option value='lapras'>lapras</option>
            <option value='ditto'>ditto</option>
            <option value='eevee'>eevee</option>
            <option value='vaporeon'>vaporeon</option>
            <option value='jolteon'>jolteon</option>
            <option value='flareon'>flareon</option>
            <option value='porygon'>porygon</option>
            <option value='omanyte'>omanyte</option>
            <option value='omastar'>omastar</option>
            <option value='kabuto'>kabuto</option>
            <option value='kabutops'>kabutops</option>
            <option value='aerodactyl'>aerodactyl</option>
            <option value='snorlax'>snorlax</option>
            <option value='articuno'>articuno</option>
            <option value='zapdos'>zapdos</option>
            <option value='moltres'>moltres</option>
            <option value='dratini'>dratini</option>
            <option value='dragonair'>dragonair</option>
            <option value='dragonite'>dragonite</option>
            <option value='mewtwo'>mewtwo</option>
            <option value='mew'>mew</option>
          </select>
        </div>
        <a class="close-button w-inline-block close-lay-over" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
          <div class="menu-button-inside-ring"><img src="images/access-denied.svg" width="8"></div>
        </a>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
