<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PogoChat!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
  </head>

  <body>
    <div class="main">
      <div class="main-menu" data-ix="main-menu-startup" style="opacity: 1; transition: opacity 400ms;">
        <div class="settings-and-tips-div">
          <a class="setting-and-tips-link w-inline-block" href="#">
            <div class="blue-font">Settings</div><img class="icon" src="images/settings.svg" width="20"></a>
          <a class="setting-and-tips-link w-inline-block" href="#">
            <div class="blue-font">Tips</div><img class="icon" src="images/question-mark.svg" width="15"></a>
        </div>
        <div class="main-menu-items-holder">
          <!-- <a class="pokemon-button w-inline-block" data-ix="pokemon-button-start" href="#" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img src="images/pinata.svg" width="21"></div>
            <div class="blue-font modify">Pokémon</div>
          </a> -->
          <a class="shop-button report-signting w-inline-block" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img src="images/pinata.svg" width="21"></div>
            <div class="blue-font modify">report signting</div>
          </a>
          <a class="pokedex-button w-inline-block" data-ix="pokedex-button-startup" href="https://www.amazon.com/gp/search?ie=UTF8&tag=pogochat-20&linkCode=ur2&linkId=841552e8ca7b5f537c4c791c16a88d5f&camp=1789&creative=9325&index=toys-and-games&keywords=Pokemon" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img class="flip-image" src="images/backpack.svg" width="21"></div>
            <div class="blue-font modify">gear</div>
          </a>
          <!-- <a class="items-button w-inline-block" data-ix="items-button-startup" href="#" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img src="images/backpack.svg" width="21"></div>
            <div class="blue-font modify">gear</div>
          </a> -->
          <a class="close-button w-inline-block" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
            <div class="menu-button-inside-ring"><img src="images/access-denied.svg" width="8"></div>
          </a>
        </div>
      </div>

      <%= render @view_module, @view_template, assigns %>

      <div class="lay-over">
        <div class="content">
          <h1 class="title">report sighting</h1>
          <select class="" name="" style="width: 100%;">
            <option value='bulbasaur'>#001 - Bulbasaur</option>
            <option value='ivysaur'>#002 - Ivysaur</option>
            <option value='venusaur'>#003 - Venusaur</option>
            <option value='charmander'>#004 - Charmander</option>
            <option value='charmeleon'>#005 - Charmeleon</option>
            <option value='charizard'>#006 - Charizard</option>
            <option value='squirtle'>#007 - Squirtle</option>
            <option value='wartortle'>#008 - Wartortle</option>
            <option value='blastoise'>#009 - Blastoise</option>
            <option value='caterpie'>#010 - Caterpie</option>
            <option value='metapod'>#011 - Metapod</option>
            <option value='butterfree'>#012 - Butterfree</option>
            <option value='weedle'>#013 - Weedle</option>
            <option value='kakuna'>#014 - Kakuna</option>
            <option value='beedrill'>#015 - Beedrill</option>
            <option value='pidgey'>#016 - Pidgey</option>
            <option value='pidgeotto'>#017 - Pidgeotto</option>
            <option value='pidgeot'>#018 - Pidgeot</option>
            <option value='rattata'>#019 - Rattata</option>
            <option value='raticate'>#020 - Raticate</option>
            <option value='spearow'>#021 - Spearow</option>
            <option value='fearow'>#022 - Fearow</option>
            <option value='ekans'>#023 - Ekans</option>
            <option value='arbok'>#024 - Arbok</option>
            <option value='pikachu'>#025 - Pikachu</option>
            <option value='raichu'>#026 - Raichu</option>
            <option value='sandshrew'>#027 - Sandshrew</option>
            <option value='sandslash'>#028 - Sandslash</option>
            <option value='nidoran-f'>#029 - Nidoran &#9792;</option>
            <option value='nidorina'>#030 - Nidorina</option>
            <option value='nidoqueen'>#031 - Nidoqueen</option>
            <option value='nidoran-m'>#032 - Nidoran &#9794;</option>
            <option value='nidorino'>#033 - Nidorino</option>
            <option value='nidoking'>#034 - Nidoking</option>
            <option value='clefairy'>#035 - Clefairy</option>
            <option value='clefable'>#036 - Clefable</option>
            <option value='vulpix'>#037 - Vulpix</option>
            <option value='ninetales'>#038 - Ninetales</option>
            <option value='jigglypuff'>#039 - Jigglypuff</option>
            <option value='wigglytuff'>#040 - Wigglytuff</option>
            <option value='zubat'>#041 - Zubat</option>
            <option value='golbat'>#042 - Golbat</option>
            <option value='oddish'>#043 - Oddish</option>
            <option value='gloom'>#044 - Gloom</option>
            <option value='vileplume'>#045 - Vileplume</option>
            <option value='paras'>#046 - Paras</option>
            <option value='parasect'>#047 - Parasect</option>
            <option value='venonat'>#048 - Venonat</option>
            <option value='venomoth'>#049 - Venomoth</option>
            <option value='diglett'>#050 - Diglett</option>
            <option value='dugtrio'>#051 - Dugtrio</option>
            <option value='meowth'>#052 - Meowth</option>
            <option value='persian'>#053 - Persian</option>
            <option value='psyduck'>#054 - Psyduck</option>
            <option value='golduck'>#055 - Golduck</option>
            <option value='mankey'>#056 - Mankey</option>
            <option value='primeape'>#057 - Primeape</option>
            <option value='growlithe'>#058 - Growlithe</option>
            <option value='arcanine'>#059 - Arcanine</option>
            <option value='poliwag'>#060 - Poliwag</option>
            <option value='poliwhirl'>#061 - Poliwhirl</option>
            <option value='poliwrath'>#062 - Poliwrath</option>
            <option value='abra'>#063 - Abra</option>
            <option value='kadabra'>#064 - Kadabra</option>
            <option value='alakazam'>#065 - Alakazam</option>
            <option value='machop'>#066 - Machop</option>
            <option value='machoke'>#067 - Machoke</option>
            <option value='machamp'>#068 - Machamp</option>
            <option value='bellsprout'>#069 - Bellsprout</option>
            <option value='weepinbell'>#070 - Weepinbell</option>
            <option value='victreebel'>#071 - Victreebel</option>
            <option value='tentacool'>#072 - Tentacool</option>
            <option value='tentacruel'>#073 - Tentacruel</option>
            <option value='geodude'>#074 - Geodude</option>
            <option value='graveler'>#075 - Graveler</option>
            <option value='golem'>#076 - Golem</option>
            <option value='ponyta'>#077 - Ponyta</option>
            <option value='rapidash'>#078 - Rapidash</option>
            <option value='slowpoke'>#079 - Slowpoke</option>
            <option value='slowbro'>#080 - Slowbro</option>
            <option value='magnemite'>#081 - Magnemite</option>
            <option value='magneton'>#082 - Magneton</option>
            <option value='farfetchd'>#083 - Farfetchd</option>
            <option value='doduo'>#084 - Doduo</option>
            <option value='dodrio'>#085 - Dodrio</option>
            <option value='seel'>#086 - Seel</option>
            <option value='dewgong'>#087 - Dewgong</option>
            <option value='grimer'>#088 - Grimer</option>
            <option value='muk'>#089 - Muk</option>
            <option value='shellder'>#090 - Shellder</option>
            <option value='cloyster'>#091 - Cloyster</option>
            <option value='gastly'>#092 - Gastly</option>
            <option value='haunter'>#093 - Haunter</option>
            <option value='gengar'>#094 - Gengar</option>
            <option value='onix'>#095 - Onix</option>
            <option value='drowzee'>#096 - Drowzee</option>
            <option value='hypno'>#097 - Hypno</option>
            <option value='krabby'>#098 - Krabby</option>
            <option value='kingler'>#099 - Kingler</option>
            <option value='voltorb'>#100 - Voltorb</option>
            <option value='electrode'>#101 - Electrode</option>
            <option value='exeggcute'>#102 - Exeggcute</option>
            <option value='exeggutor'>#103 - Exeggutor</option>
            <option value='cubone'>#104 - Cubone</option>
            <option value='marowak'>#105 - Marowak</option>
            <option value='hitmonlee'>#106 - Hitmonlee</option>
            <option value='hitmonchan'>#107 - Hitmonchan</option>
            <option value='lickitung'>#108 - Lickitung</option>
            <option value='koffing'>#109 - Koffing</option>
            <option value='weezing'>#110 - Weezing</option>
            <option value='rhyhorn'>#111 - Rhyhorn</option>
            <option value='rhydon'>#112 - Rhydon</option>
            <option value='chansey'>#113 - Chansey</option>
            <option value='tangela'>#114 - Tangela</option>
            <option value='kangaskhan'>#115 - Kangaskhan</option>
            <option value='horsea'>#116 - Horsea</option>
            <option value='seadra'>#117 - Seadra</option>
            <option value='goldeen'>#118 - Goldeen</option>
            <option value='seaking'>#119 - Seaking</option>
            <option value='staryu'>#120 - Staryu</option>
            <option value='starmie'>#121 - Starmie</option>
            <option value='mr-mime'>#122 - Mr. Mime</option>
            <option value='scyther'>#123 - Scyther</option>
            <option value='jynx'>#124 - Jynx</option>
            <option value='electabuzz'>#125 - Electabuzz</option>
            <option value='magmar'>#126 - Magmar</option>
            <option value='pinsir'>#127 - Pinsir</option>
            <option value='yauros'>#128 - Tauros</option>
            <option value='magikarp'>#129 - Magikarp</option>
            <option value='gyarados'>#130 - Gyarados</option>
            <option value='lapras'>#131 - Lapras</option>
            <option value='ditto'>#132 - Ditto</option>
            <option value='eevee'>#133 - Eevee</option>
            <option value='vaporeon'>#134 - Vaporeon</option>
            <option value='jolteon'>#135 - Jolteon</option>
            <option value='flareon'>#136 - Flareon</option>
            <option value='porygon'>#137 - Porygon</option>
            <option value='omanyte'>#138 - Omanyte</option>
            <option value='omastar'>#139 - Omastar</option>
            <option value='kabuto'>#140 - Kabuto</option>
            <option value='kabutops'>#141 - Kabutops</option>
            <option value='aerodactyl'>#142 - Aerodactyl</option>
            <option value='snorlax'>#143 - Snorlax</option>
            <option value='articuno'>#144 - Articuno</option>
            <option value='zapdos'>#145 - Zapdos</option>
            <option value='moltres'>#146 - Moltres</option>
            <option value='dratini'>#147 - Dratini</option>
            <option value='dragonair'>#148 - Dragonair</option>
            <option value='dragonite'>#149 - Dragonite</option>
            <option value='mewtwo'>#150 - Mewtwo</option>
            <option value='mew'>#151 - Mew</option>
          </select>
        </div>
        <a class="close-button w-inline-block close-lay-over" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);">
          <div class="menu-button-inside-ring"><img src="images/access-denied.svg" width="8"></div>
        </a>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
